#Projects > h1 {
  padding: 3rem 0;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  align-items: center;
}

.card > img {
  width: 40vw;
}

.card > .info {
  align-self: start;
  padding: 1rem 2rem 1rem 1rem;
  
}

.card #btn {
  margin: 3rem 0;
}
.card > .info a {
  text-decoration: none;
  border-radius: 50px;
  padding: 0.7rem 1.8rem;
  font-weight: 500;
  color: var(--secondaryColorDark);
  background-color: var(--primaryColorDark);
}

@media only screen and (max-width: 600px) {
  #Projects {
    height: min-content;
  }
  .card {
    grid-template-columns: repeat(1, 100%);
  }
  .card > img {
    width: 90vw;
  }
}

@media only screen and (max-width: 950px) {
  .card .info {
    margin-left: 2rem;
  }
  .card > .info h1 {
    font-size: 1.6rem;
  }
  .card > .info p {
    font-size: 1rem;
  }
}
